<launch>
    <!-- Run localization_publisher.py -->
    <node name="localization_publisher" pkg="a3_astar" type="localization_publisher.py" output="screen" />

    <!-- Run hmiguiv4.py -->
    <node name="hmiguiv4" pkg="a3_astar" type="hmiguiv4.py" output="screen" />

    <!-- Run astarv4_utm.py -->
    <node name="astarv4_utm" pkg="a3_astar" type="astarv4_utm.py" output="screen" />

    <!-- Run path_validationv2.py -->
    <node name="path_validation" pkg="a3_astar" type="path_validationv2.py" output="screen" />
</launch>
